target
.idea
*/target/*
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# IDE control files
*.iml

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
features/spark-udf/org.wso2.carbon.analytics.shared.geolocation.udf.feature/src/main/resources/repository/database/GEOLOCATION_DB.h2.db